<div *ngIf="recipeDetails$" class="card">
    <div class="card-header">
        {{ recipeDetails$.category.categoryName }} / {{ recipeDetails$.subcategory.subcategoryName }}
    </div>
    <div class="card-body">
        <h1 class="card-title font-weight-bold mb-3">{{ recipeDetails$.name }}</h1>
        <h4><strong class="text-warning">Time:</strong> {{ recipeDetails$.time }} min</h4>
        <h4><strong class="text-warning">Portions:</strong> {{ recipeDetails$.portion }}</h4>
        <h4><strong class="text-warning">Rating:</strong> {{ recipeDetails$.rating }}</h4>

        <h3><strong class="text-warning mt-4">Ingredients:</strong></h3>
        <ol>
            <li>Cras justo odio</li>
            <li>Dapibus ac facilisis in</li>
            <li>Vestibulum at eros</li>
        </ol>
        <h3><strong class="text-warning">Description:</strong></h3>

        <p class="card-text">{{recipeDetails$.description}}</p>
        <div class="btn-group">
            <a [routerLink]="['/recipes']" class="btn btn-warning rounded">Back to recipes</a>
            <a class="btn btn-success rounded" (click)="addToFav(recipeDetails$)">Add to favourite</a>
        </div>
    </div>
</div>