<div>
    <img src="../../assets/icons8-maintenance-64.png" class="float-left mr-3">
    <h1 class="display-4 mb-4"><span class="text-warning"> Manage</span><span id="manage-title">recipes</span></h1>
    <hr>
    <ul class="nav nav-tabs mb-3">
        <li class="nav-item nav-categories">
            <a class="nav-link rounded font-weight-bold" (click)="showCategoryTab()">Categories</a>
        </li>
        <li class="nav-item nav-subcategories">
            <a class="nav-link rounded font-weight-bold" (click)="showSubcategoryTab()">Subcategories</a>
        </li>
        <li class="nav-item nav-recipes">
            <a class="nav-link rounded font-weight-bold" (click)="showRecipeTab()">Recipes</a>
        </li>
        <li class="nav-item nav-addRecipes">
            <a class="nav-link rounded font-weight-bold" (click)="showAddRecipeTab()">Add Recipes</a>
        </li>
    </ul>
    <div class="tab-content" id="manageTabContent">
        <div class="tab-pane fade show" id="manage-categories">
            <!-- Manage Category -->
            <div>
                <div id="add-category">
                    <p class="font-weight-bold float-left pr-3 pt-2"><span class="text-warning">Add</span>Category</p>
                    <form #addCategoryForm="ngForm" (ngSubmit)="addCategory(addCategoryForm)" class="form-row">
                        <div class="form-group-sm">
                            <input type="text" class="form-control" name="categoryName" ngModel required #categoryName="ngModel" placeholder="Category name">
                        </div>
                        <div class="btn-group btn-group-sm">
                            <button class="btn btn-success text-light"><i class="fa fa-plus"></i> Add</button>
                            <button type="button" class="btn btn-sm btn-outline-success" (click)="resetForm(addCategoryForm)"><i class="fa fa-retweet"></i> Reset</button>
                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>
                <div id="edit-category">
                    <p class="font-weight-bold float-left pr-3 pt-2"><span class="text-warning">Edit</span>Category</p>
                    <form #editCategoryForm="ngForm" (ngSubmit)="editCategory(editCategoryForm)" class="form-row">
                        <div class="form-group-sm">
                            <input type="hidden" name="editId" value="editCategoryEditId.value" ngModel #editId="ngModel">
                            <input type="text" class="form-control" name="editCategoryName" ngModel required #editCategoryName="ngModel" placeholder="New category name">
                        </div>
                        <div class="btn-group btn-group-sm">
                            <button class="btn btn-sm btn-info text-light"><i class="fa fa-check-circle"></i> Save</button>
                            <button type="button" class="btn btn-sm btn-outline-info" (click)="resetForm(editCategoryForm)"><i class="fa fa-retweet"></i> Reset</button>
                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>
                <table class="table table-striped">
                    <thead class="bg-primary text-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Category</th>
                            <th scope="col" colspan="2">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let category of categories$">
                            <td>{{category.id}}</td>
                            <td>{{category.categoryName}}</td>
                            <td><i class="fa fa-cog" (click)="editCategoryOption(category.id, category.categoryName, editCategoryForm)"></i></td>
                            <td><i class="fa fa-trash-o" (click)="deleteCategory(category.id)"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- End -->
        </div>
        <!-- Manage Subcategories -->
        <div class="tab-pane fade show mt-3" id="manage-subcategories">
            <div id="add-subcategory">
                <p class="font-weight-bold pr-3 pt-2 float-left"><span class="text-warning">Add</span>Subcategory</p>
                <form #addSubcategoryForm="ngForm" (ngSubmit)="addSubcategory(addSubcategoryForm)" class="form-row">

                    <select (change)="selectedCategoryEvent($event, addSubcategoryForm)" selectCategory="categoryControl" class="float-left">
                    <option *ngFor="let category of selectCategories$" name="categoryId" ngModel required #categoryId="ngModel">{{category.id}}</option>
                    </select>

                    <div class="form-group-sm">
                        <input type="text" class="form-control" name="subcategoryName" ngModel required #subcategoryName="ngModel" placeholder="Subcategory name">
                    </div>
                    <div class="btn-group btn-group-sm">
                        <button class="btn btn-success text-light"><i class="fa fa-plus"></i> Add</button>
                        <button type="button" class="btn btn-sm btn-outline-success" (click)="resetForm(addSubcategoryForm)"><i class="fa fa-retweet"></i> Reset</button>
                    </div>
                </form>
                <h5 class="small font-italic">Select category and write new subcategory name</h5>

            </div>
            <div class="clearfix"></div>
            <div id="edit-subcategory" class="pt-3">
                <p class="font-weight-bold float-left pr-3 pt-2"><span class="text-warning">Edit</span>Subcategory</p>
                <form #editSubcategoryForm="ngForm" (ngSubmit)="editSubcategory(editSubcategoryForm)" class="form-row">
                    <div class="form-group-sm">
                        <input type="hidden" name="editSubId" value="editSubcategoryEditSubId.value" ngModel #editSubId="ngModel">
                        <input type="hidden" name="editCatId" value="editSubcategoryEditCatId.value" ngModel #editCatId="ngModel">

                        <input type="text" class="form-control" name="editSubcategoryName" ngModel required #editSubcategoryName="ngModel" placeholder="New subcategory name">
                    </div>
                    <div class="btn-group btn-group-sm">
                        <button class="btn btn-sm btn-info text-light"><i class="fa fa-check-circle"></i> Save</button>
                        <button type="button" class="btn btn-sm btn-outline-info" (click)="resetForm(editSubcategoryForm)"><i class="fa fa-retweet"></i> Reset</button>
                    </div>
                </form>
            </div>
            <table class="table table-striped mt-3">
                <thead class="bg-primary text-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Category</th>
                        <th scope="col">Subcategory</th>
                        <th scope="col" colspan="3">Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let subcategory of subcategories$">
                        <td>{{subcategory.id}}</td>
                        <td>{{subcategory.category.categoryName}}</td>
                        <td>{{subcategory.subcategoryName}}</td>
                        <td><i class="fa fa-cog" (click)="editSubcategoryOption(subcategory.id, subcategory.subcategoryName, subcategory.categoryId, editSubcategoryForm)"></i></td>
                        <td><i class="fa fa-trash-o" (click)="deleteSubcategory(subcategory.id)"></i></td>
                    </tr>
                </tbody>
            </table>
            <!-- End -->
        </div>
        <!-- Manage Recipes -->
        <div class="tab-pane fade show mt-3" id="manage-recipes">
            <table class="table-striped">
                <!-- table-responsible -->
                <thead class="bg-primary text-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Category</th>
                        <th scope="col">Subcategory</th>
                        <th scope="col">Name</th>
                        <th scope="col">Time</th>
                        <th scope="col">Portion</th>
                        <th scope="col">Favourite</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Description</th>
                        <th scope="col" colspan="2">Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let recipe of recipes$">
                        <td>{{recipe.id}}</td>
                        <td>{{recipe.category.categoryName}}</td>
                        <td>{{recipe.subcategory.subcategoryName}}</td>
                        <td>{{recipe.name}}</td>
                        <td>{{recipe.time}}</td>
                        <td>{{recipe.portion}}</td>
                        <td>{{recipe.favourite}}</td>
                        <td>{{recipe.rating}}</td>
                        <td><a class="link" href="#">Description</a></td>
                        <td><i class="fa fa-cog"></i></td>
                        <td><i class="fa fa-trash-o" (click)="deleteRecipe(recipe.id)"></i></td>
                    </tr>
                </tbody>
            </table>
            <!-- End -->
        </div>
        <!-- Add Recipe -->
        <div class="tab-pane fade show mt-3" id="manage-addRecipes">
            <div id="add-recipe">

            </div>
        </div>
        <!-- End -->
    </div>
</div>