<!-- <div class="card mb-4">
    <img class="card-img-top" src="../../assets/basil-dinner-food-8500.jpg" alt="cooking">
    <div class="card-body p-1 text-center text-dark">
        <h4 class="card-title text-center mb-1">{{recipe.name}}</h4>
        <a href="#" class="btn btn-primary w-100">Cook</a>
    </div>
</div> -->

<div class="card mb-4">
    <img class="card-img-top" src="../../assets/basil-dinner-food-8500.jpg" alt="cooking">
    <div class="card-body p-1 text-center text-dark">
        <h4 class="card-title text-center mb-1">{{category.categoryName}}</h4>
        <a href="#" class="btn btn-primary w-100">Cook</a>
    </div>
</div>