<nav class="nav flex-column col-2 float-left ml-5">
    <h2>Menu</h2>
    <hr>
    <h4>Categories</h4>
    <div *ngFor="let category of categories$">
        <a class="nav-link" [routerLink]="['/recipes/']" [queryParams]="{ category: category.categoryName}">>> {{category.categoryName}}</a>

    </div>
    <hr>
    <h4>Subcategories</h4>
    <div *ngFor="let subcategory of subcategories$">
        <a class="nav-link" [routerLink]="['/recipes/']" [queryParams]="{ subcategory: subcategory.subcategoryName}">>> {{subcategory.subcategoryName}}</a>
    </div>
</nav>